<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ReferBright</title>

    <link href="./css/lib/bootstrap.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>

    <!-- Custom styles  -->
    <link href="./css/app.css" rel="stylesheet">
    <%- stylesheets %>
</head>

<body>
<header role="banner" class="navbar">
    <div class="container">
        <div class="navbar-header">
            <button data-target=".bs-navbar-collapse" data-toggle="collapse" type="button" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="./images/logo.png" width="229" height="49"/></a>
        </div>
        <nav role="navigation" class="collapse navbar-collapse bs-navbar-collapse">
            <ul class="nav navbar-nav pull-right">
                <li><a href="#">HOW IT WORKS</a></li>
                <li><a href="#">REFERAL DIRECTORY</a></li>
                <li><a href="#">ABOUT</a></li>
            </ul>
        </nav>
    </div>
</header>

<div class="container" id="mainContainer">
    <%- body -%>
</div>

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <a href="#"><img src="./images/mail.png" height="15" width="27"/> contact@referbright.com</a>
            </div>
            <div class="col-md-3">
                <a href="#"><img src="./images/phone.png" height="17" width="24"/> 415-777-8895</a>
            </div>
            <div class="col-md-offset-4 col-md-2">
                <img src="./images/social-icons.png" width="128" height="32"/>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12 clearfix">
                <p class="pull-left" style="color: rgba(255, 255, 255, 0.2);">&copy; GoalSponsors, Inc 2013</p>
                <ul class="list-inline pull-right" style="color: rgba(255, 255, 255, 0.6);">
                    <li><a href="#">About</a></li>
                    <li><a href="#">Press</a></li>
                    <li><a href="#">Our Practitioners</a></li>
                    <li><a href="#">Privacy & Terms</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!-- /.container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="./js/lib/jquery-1.10.2.min.js"></script>
<script src="./js/lib/bootstrap.min.js"></script>
<%- scripts %>
</body>
</html>
