<% layout('boilerplate') -%>
<div class="container">
   
   <div>
	<div>

		<h1>Primary</h1>
		<p>desdc</p>
		<input type="text" name="yoga_instructor"/>
		<p>in</p>
		<input type="text" name="yoga_instructor_in"/>
	</div>
	<div>

		<h1>Primary</h1>
		<p>desdc</p>
		<input type="text" name="yoga_instructor"/>
		<p>in</p>
		<input type="text" name="yoga_instructor_in"/>
	</div>
	<hr>
	<div>
		<button>process to profile</button>
	</div>
   </div>
</div>
