<div class="row">
    <div class="row">
        <div class="register-progress-bubbles clearfix">
            <div class="center-line"></div>
            <div class="bubbles active">1</div>
            <div class="bubbles over">2</div>
            <div class="bubbles">3</div>
        </div>
    </div>
    <div style="margin-bottom: 20px">
        <div class="row">
            <h1>Universal Profile</h1>

            <p>We will post this on reputable websites relevant to your specialty and location. If you ever make changes, we will update it every where on your behalf. You can always add more later.</p>
        </div>

    </div>
</div>