.navbar {
    box-shadow: 1px 1px 24px rgba(0, 0, 0, .1);
}

nav {
    margin-top: 10px;
}

.nav > li > a {
    color: rgb(0, 0, 0);
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
}

.nav > li > a:hover, .nav > li > a:focus {
    background-color: transparent;
    color: rgba(0, 0, 0, 0.4);
}

.navbar-brand {
    padding: 8px;
}

.footer {
    background: none repeat scroll 0 0 rgb(38, 38, 38);
    color: rgb(255, 255, 255);
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    padding: 30px 0;
}

.footer hr {
    border-color: rgba(255, 255, 255, 0.1);
}

.footer a {
    color: rgb(255, 255, 255);
    font-size: 14px;
}

.footer a:hover, .footer a:focus {
    text-decoration: none;
}

.footer .col-md-3 a img {
    margin-right: 4px;
    margin-top: -3px;
}

.container {
    width: 980px;
}